/**
 * ベース
 * 全体的なタグのスタイルはここに書きます。
 */
body {
  --background-color: rgb(253, 253, 253);
  font-family: "Microsoft JhengHei UI", "Arial", "Hiragino Kaku Gothic ProN", "Hiragino Sans", "sans-serif";
}

a {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* no highlighting */
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  height: 100%;
  width: 100%;
}



/**
 * レイアウト
 * 大きなレイアウトのスタイルはここに書きます。
 */
header {
  align-items: center;
  display: flex;
  height: 63px;
  left: 0;
  margin: 0 16px;
  position: sticky;
  top: 0;
  z-index: 5;
}

main {
  padding: 0 16px;
}



/**
 * コンポーネント
 * 部品的なスタイルはここに書きます。
 */

/* overall */
.flex {
  align-items: center;
  display: flex;
}

.line {
  border-bottom: 1px solid;
  padding-bottom: 4px;
  width: 350px;
}

/* header */
header {
  border-bottom: 1px solid;
}

.header-logo {
  font-family: "Microsoft JhengHei UI", sans-serif;
  font-size: 24px;
  padding-left: 32px;
}

/* profile */
.bio-icon {
  border-radius: 24px;
  height: 100%;
  margin-right: 16px;
  max-height: 96px;
  max-width: 96px;
  min-height: 48px;
  min-width: 48px;
  width: 100%;
}

.fact-name {
  margin-bottom: 2px;
}

/* links */
.link {
  height: 64px;
  margin-bottom: 20px;
  margin-right: 0;
}

.link-meta {
  align-items: center;
  display: flex;
  height: 32px;
  margin-bottom: 5px;
}

.link-icon {
  height: 26px;
  margin-right: 3px;
  width: 26px;
}

.link-name {
  font-weight: 300;
  padding-left: 4px;
}

.link-line {
  transition: border-bottom-color .2s cubic-bezier(0, .55, .45, 1);
}

/* .link-description {} */

/* footer */

.copyright {
  padding-right: 32px;
  text-align: right;
}



/**
 * ステート
 * ホバーなどの状態に関わるスタイルはここに書きます。
 */
.link:hover .link-line {
  border-bottom-color: #888;
}



/**
 * テーマ
 * 色を中心としたテーマ関連のスタイルはここに書きます。
 */

/* overall */
body {
  background-color: var(--background-color);
}

a {
  color: #000;
}

.line {
  border-bottom-color: #ccc;
}

/* header */
header {
  background-color: var(--background-color);
  border-bottom-color: #ccc;
}

/* profile */

/* links */



/**
 * レスポンシブ
 * レスポンシブ対応するためのスタイルはここに書きます。
 */

/* Mobile */
@media only screen and (max-width : 425px) {
  .header-logo {
    margin: 0 auto;
    padding-left: 0;
  }

  main {
    margin: 0 auto;
    width: 85%;
  }

  .line {
    width: 100%;
  }
}

/* Tablet */
@media only screen and (min-width : 426px) and (max-width : 768px) {
  main {
    margin: 0 auto;
    width: 100%;
  }

  .line {
    width: 100%;
  }
}

/* LapTop */
@media only screen and (min-width : 769px) and (max-width : 1024px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
  .l-profile, .l-links {
    padding: 0 2%;
    width: 46%;
  }
  footer {
    bottom: 0;
    position: absolute;
    right: 0;
  }
}

/* LapTop L */
@media only screen and (min-width : 1025px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
  .l-profile, .l-links {
    padding: 0 2%;
    width: 46%;
  }
  footer {
    bottom: 0;
    position: absolute;
    right: 0;
  }
}
