/* overall */
.line {
  max-width: 400px;
}

/* profile */
.bio-icon {
  border-radius: 24px;
  height: 100%;
  margin-right: 16px;
  max-height: 96px;
  max-width: 96px;
  min-height: 48px;
  min-width: 48px;
  width: 100%;
}

.fact-name {
  margin-bottom: 2px;
}

/* links */
.link {
  height: 64px;
  margin-bottom: 20px;
}

.link-header {
  height: 50%;
  margin-bottom: 4px;
}

.link-icon {
  height: 80%;
  margin-right: 8px;
  width: auto;
}

.icon-link {
  height: 40%;
  margin-right: 8px;
  padding-left: 8px;
  width: 12px;
}

.link-name {
  font-weight: 300;
}



/**
   * ステート
   * ホバーなどの状態に関わるスタイルはここに書きます。
   */



/**
   * テーマ
   * 色を中心としたテーマ関連のスタイルはここに書きます。
   */



/**
   * レスポンシブ
   * レスポンシブ対応するためのスタイルはここに書きます。
   */

/* Mobile */

/* Tablet */

/* LapTop */
@media only screen and (min-width : 769px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }

  .l-profile, .l-links {
    width: 400px;
  }

  .l-profile {
    margin-left: auto;
    padding-right: 16px;
  }

  .l-links {
    margin-right: 390px;
    padding-left: 320px;
  }

  footer {
    bottom: 0;
    position: absolute;
    right: 0;
  }
}
