/**
 * ベース
 * 全体的なタグのスタイルはここに書きます。
 */
body {
  --background-color: rgb(250, 250, 250);
  font-family: "ヒラギノ角ゴシック", "source-han-sans-japanese", "sans-serif";
  font-style: normal;
  font-weight: 200;
  overflow: hidden;
  color: rgb(10, 10, 10);
}

a {
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); /* no highlighting */
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

img {
  height: 100%;
  width: 100%;
}



/**
 * レイアウト
 * 大きなレイアウトのスタイルはここに書きます。
 */
header {
  height: 63px;
  left: 0;
  position: sticky;
  top: 0;
  z-index: 5;
  box-shadow: 1px 1px 48px 0 rgb(14, 14, 14);
}

.background {
  position: relative;
  margin: auto;
  width: 100%;
  height: 40%;
}

.l-profile {
  position: absolute;
  padding: 16px;
  padding-bottom: 172px;
  top: 40%;
  left: 10%;
  right: auto;
  -webkit-transform : translate(-50%,-50%);
  transform : translate(-50%,-50%);
  border: 2px solid;
  border-color: rgb(210, 210, 210);
  background: rgb(250, 250, 250);
  border-radius: 24px;
  box-shadow: 8px 8px 48px 0 rgb(14, 14, 14);
}

.link {
  width: 135px;
  height: 24px;
  padding-top: 6px;
  border-radius: 24px;
}

.discord {
  padding-top: 4px;
  padding-bottom: 4px;
  background-color: #7289DA;
}

.twitter {
  padding-top: 4px;
  padding-bottom: 4px;
  margin-left: 17px;
  background-color: #03A9F4;
}

/**
 * コンポーネント
 * 部品的なスタイルはここに書きます。
 */

/* overall */
.flex {
  align-items: center;
  display: flex;
}

.line {
  border-bottom: 1px solid;
  padding-bottom: 4px;
}

/* header */
header {
  border-bottom: 1px solid;
}

.header-logo {
  font-family: "ヒラギノ角ゴシック", "source-han-sans-japanese", "sans-serif";
  font-size: 24px;
  font-style: normal;
  font-weight: 200;
  padding-left: 32px;
}

/* footer */
.copyright {
  padding-right: 32px;
  text-align: right;
  color: rgb(250, 250, 250);
}



/**
 * ステート
 * ホバーなどの状態に関わるスタイルはここに書きます。
 */
.line , header {
  transition: .2s cubic-bezier(0, .55, .45, 1);
}
.line:hover , header:hover {
  border-bottom-color: rgb(170, 170, 170);
}



/**
 * テーマ
 * 色を中心としたテーマ関連のスタイルはここに書きます。
 */

/* overall */
body {
  background-color: var(--background-color);
}

a {
  color: #000;
}

.line {
  border-bottom-color: rgb(210, 210, 210);
}

/* header */
header {
  background-color: var(--background-color);
  border-bottom-color: rgb(210, 210, 210);
}



/**
   * レスポンシブ
   * レスポンシブ対応するためのスタイルはここに書きます。
   */

/* Mobile */
@media only screen and (max-width : 425px) {
  .header-logo {
    margin: 0 auto;
    padding-left: 0;
  }

  main {
    text-align:center;
    margin: 0 auto;
    width: 85%;
  }

  .line {
    width: 100%;
  }
}

/* Tablet */
@media only screen and (min-width : 426px) and (max-width : 768px) {
  main {
    margin: 0 auto;
    width: 400px;
  }

  .line {
    width: 100%;
  }
}
