/* 基本デザイン */

body , .profile-box::before {
    font-family: 'Segoe UI Light', sans-serif;
    color: #fefefe;
    margin: 0;
    background-image: url("../images/background-1.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center;
    background-attachment: fixed;
    transition: 300ms cubic-bezier(.15,.6,.31,1);
}

main {
    margin: auto;
}

footer {
    bottom: 0;
    position: absolute;
    right: 0;
    padding-right: 12px;
    padding-bottom: 4px;
}

/* クラス別デザイン */

.line {
    border-bottom: 1px solid;
    padding-bottom: 4px;
}

.profile-box {
    position: relative;

    /* border */
    border: solid 1px;
    border-color: rgba(250,250,250, .1);
    box-shadow: 0 2px 5px rgba(0,0,0,.5);
    border-radius: 12px;
    margin: 100px auto 10px auto;
    width: 360px;
    height: 520px;
    display: block;
    text-align: center;
}

.profile-box::before {
    /* box */
    content: "";
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 0;
    display: block;

    /* effects */
    -webkit-filter: blur(3px);
    -ms-filter: blur(3px);
    filter: blur(3px);
}

.prof-icon {
    border-radius: 12px;
    width: 128px;
    margin-top: 28px;
    margin-right: 60%;
    margin-left: 28px;
    margin-bottom: 24px;
}

.prof-name {
    position: absolute;
    top: 32px;
    left: 50%;
}

.prof-desc {
    position: absolute;
    top: 108px;
    left: 50%;
}

.prof-hobby {
    text-align: left;
    margin-left: 8%;
    margin-right: 8%;
}

.prof-form {
    text-align: left;
    padding-top: 24px;
    margin-left: 8%;
    margin-right: 8%;
}

.title {
    font-weight: bold;
    font-size: 110%;
}

.link-button {
    margin-left: 38px;
    margin-top: 18px;
}

.link {
    width: 138px;
    height: 24px;
    padding-top: 6px;
    border-radius: 24px;
}

.discord {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #7289DA;
}

.twitter {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 10px;
    background-color: #03A9F4;
}

.youtube {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: red;
}

.github {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 10px;
    background-color: black;
}

.soundcloud {
    padding-top: 4px;
    padding-bottom: 4px;
    background-color: #FF7700;
}

.steam {
    padding-top: 4px;
    padding-bottom: 4px;
    margin-left: 10px;
    background-color: #052842;
}

.flex {
    align-items: center;
    display: flex;
    }

.flex-2 {
    align-items: center;
    display: flex;
    margin-top: 12px;
    }

/* レスポンシブ */

/* Mobile */
@media only screen and (max-width : 425px) {
    .prof-icon {
        transform: scale(20%);
    }

    .profile-box {
        padding-left: 4px;
        margin: 20px auto 10px auto;
    }
}

  /* Tablet */
@media only screen and (min-width : 426px) and (max-width : 768px) {

}